body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #5c677d;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 10rem;
}

header h1 {
    position: relative;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 12vh;
    color: white;
    text-shadow: 0px 1px 2px #000000;
}

main, nav, footer{
    display: flex;
    text-align: center;
    justify-content: center;
}

nav {
    width: 100vw;
    font-size: 3vh;
}

.top-menu nav a {
    padding: 0vh .5vw;
    letter-spacing: 2px; 
    font-size: 4vh;
}

.top-menu nav a:hover {
    border-bottom: 2px black solid;
    font-size: 5vh;
    transition: .9s;
    text-shadow: 0px 1px 0px #000000;
}

.top-menu nav a:visited {
    color: #310D20; 
}

.top-menu nav a:active {
    color: black;
    padding: 0%;
}

.bottom-menu {
    background-color: #5c677d;
}

.bottom-menu nav a {
    padding: 0vh .5vw;
    font-size: .75em;
    color: white;
    text-shadow: 0px 1px 2px #000000;
}

.bottom-menu nav a:hover {
    color: #D4AF37;
    font-size: 1em;
    transition: .9s;
    text-shadow: 0px 1px 0px #000000;
}

.bottom-menu nav a:visited {
    color: #dee2e6; 
}

.bottom-menu nav a:active {
    color: black;
}

.footer-text {
    font-size: .75em;
    text-align: center;
    color: #310D20;
    padding: 10px 10px;
}


